In [58]:
import numpy as np

## Q#1: Create x array with elements equal to 1.

In [59]:
x = np.ones(1)
x

array([1.])

## Q#2: Create y array with elements equal to 0.

In [60]:
y = np.zeros(1)
y

array([0.])

## Q#3: Add x and y arrays.

In [61]:
x+y

array([1.])

## Q#4: Print x array characteristics (e.g: dimension, shape, size, type)

In [62]:
print(x.ndim)
print(x.shape)
print(x.size)
print(type(x))

1
(1,)
1
<class 'numpy.ndarray'>

## Q#5: Create a 2D array "called w" as the following:

|       |          |
| ----- | -------- |
| 11    | 12       |
| 13    | 14       |
| 15    | 16       |

In [69]:
w = np.array([[11,12],[13,14],[15,16]])
w

array([[11, 12],
       [13, 14],
       [15, 16]])

## Q#6: Create z array contains the numbers from 1 to 3.

In [70]:
z = np.arange(1,4)
z

array([1, 2, 3])

## Q#7: Combine the arrays z and w in vertical way then save it in a new variable "newArray".

In [80]:
z = z.reshape(-1,1)
newArray = np.hstack((z,w))
newArray

array([[ 1, 11, 12],
       [ 2, 13, 14],
       [ 3, 15, 16]])

## Q#8: Print all elements of "newArray" using the loop.

In [81]:
for item in newArray.flat:
    print(item)

1
11
12
2
13
14
3
15
16

## Q#9: Reverse the columns and rows of "newArray".

In [82]:
newArray.T

array([[ 1,  2,  3],
       [11, 13, 15],
       [12, 14, 16]])

## Q#10: Decrement all elements of "newArray" with 1.

In [83]:
newArray -= 1
newArray

array([[ 0, 10, 11],
       [ 1, 12, 13],
       [ 2, 14, 15]])

## Q#11: Find smallest and biggest values in "newArray".

In [84]:
print(newArray.min())
print(newArray.max())

0
15

## Q#12: Print the first row of "newArray" using indexing.

In [86]:
newArray[0]

array([ 0, 10, 11])

## Q#13: Print the number equals 12 of "newArray" using indexing.

In [87]:
newArray[1,0]

1

## Q#14: Print the numbers equal 0 and 13 of "newArray" using Slicing.

In [88]:
newArray

array([[ 0, 10, 11],
       [ 1, 12, 13],
       [ 2, 14, 15]])

In [93]:
newArray[[[0,1] , [0,2]]]

/var/folders/v5/64qqh7_506l7yf1j_8cplcvm0000gn/T/ipykernel_3471/922722487.py:1: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  newArray[[[0,1] , [0,2]]]

array([ 0, 13])

## Q#15: Change the shape of "newArray" to (9,1).

In [94]:
sd = newArray.reshape(9,1)
sd

array([[ 0],
       [10],
       [11],
       [ 1],
       [12],
       [13],
       [ 2],
       [14],
       [15]])

## Q#16: Change the shape of "newArray" to (3,2).

In [115]:
newArray
D1 = np.split(newArray,[0,2],axis=1)
D1[1]

array([[ 0, 10],
       [ 1, 12],
       [ 2, 14]])

# Well Done 🎉